@media screen and (max-width: 767px) {
  .header {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .section-container {
    padding: 60px 15px;
  }

  .mobile-container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-header {
    display: none;
  }

  .header__contacts {
    display: none;
  }

  .mobile-menu__lists--list {
    @include font(40px, 500, 47px);
    letter-spacing: 0.02em;
    list-style: none;
  }

  .mobile-menu__lists--list:not(:last-child) {
    margin-bottom: 32px;
  }

  .mobile-menu__lists--list:last-child {
    margin-bottom: 302px;
  }

  .mobile-menu__lists--link {
    color: #212121;
    text-decoration: none;
  }

  .mobile-menu__link-color {
    color: #2196f3;
  }

  .mobile-menu-tell {
    @include font(34px, 500, 40px);
    letter-spacing: 0.02em;
    color: #2196f3;
  }

  .mobile-menu-tell-list {
    margin-bottom: 32px;
  }

  .mobile-menu-maill-list {
    margin-bottom: 32px;
  }

  .mobile-menu-maill {
    @include font(24px, 500, 28px);
    letter-spacing: 0.02em;
    color: #757575;
  }

  .mobile-menu__contacts-link {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-decoration: none;
  }

  .mobile-menu__contacts-list {
    list-style: none;
  }

  .social-media-link {
    font-style: normal;
    @include font(18px, 500, 22px);
    letter-spacing: 0.02em;
    color: #2196f3;
    text-decoration: none;
  }

  .social-media-list {
    list-style: none;
  }

  .social-media-lists {
    display: flex;
  }

  .mobile-menu__lists {
    padding-right: 212px;
  }

  .social-media-list:not(:first-child) {
    padding-left: 10px;
  }

  .social-media-list:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  .social-media-list:last-child {
    margin-right: 40px;
  }

  .mobile-menu__close-btn:focus .mobile-menu__close-icon,
  .mobile-menu-btn:focus .mobile-menu-btn__icon {
    fill: #2196f3;
  }

  .mobile-menu__close-icon,
  .mobile-menu-btn__icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu-btn__icon {
    fill: #212121;
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu__close-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .mobile-menu__container {
    position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: 80px;
  }

  .hero-mobile__section--div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .hero-mobile__description {
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 118px;
    margin-bottom: 30px;
  }

  .hero-mobile__button {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    @include font(16px, 700, 30px);
    letter-spacing: 0.06em;
    color: #ffffff;
    background: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    border: 0;
  }

  .hero-mobile__button:hover {
    background: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .section-work__div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .section-work__div-vector {
    padding: 25px 192px;
    background: #f5f4fa;
    border-radius: 4px;
  }

  .section-work__lists {
    list-style: none;
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section-work__lists:first-child {
    margin-top: 60px;
  }

  .section-work__lists:last-child {
    margin-bottom: 60px;
  }

  .work-mobil {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    @include font(14px, 700, 16px);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .description-work:not(:first-child) {
    margin-bottom: 30px;
  }

  .description-work {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    @include font(14px, 400, 24px);
    letter-spacing: 0.03em;
    color: #757575;
  }

  .mobil-social-list {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 8px;
  }

  .mobil-name {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    @include font(16px, 500, 19px);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }

  .mobil-name__discription {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    @include font(16px, 400, 19px);
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
  }

  .social-list-link {
    margin-bottom: 24px;
  }

  .section-clients-mobil__list {
    list-style: none;
  }

  .section-clients-mobil__logo-vector {
    padding: 16px 52px;
    width: 210px;
    height: 92px;
  }

  .section-clients-mobil__logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .section-clients-mobil__list:focus .section-clients-mobil__logo-vector,
  .section-clients-mobil__list:hover .section-clients-mobil__logo-vector {
    fill: var(--accent-color);
    border: 1px solid #2196f3;
  }

  .section-clients-mobil__discription {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    @include font(28px, 700, 33px);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 30px;
    margin-top: 60px;
  }

  .footer__div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__div-container--footer-form-wraper-mobil {
    display: flex;
    padding-top: 12px;
    align-items: center;
    flex-direction: column;
    margin-left: 0;
  }

  .footer__links-mobil {
    margin-left: 0;
  }

  .footer-nav {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 60px;
    align-items: center;
  }

  .footer-label-span {
    margin-top: 60px;
  }

  .footer-input-maill {
    width: 450px;
  }

  .footer__logo {
    margin-left: 162px;
    margin-right: 162px;
  }

  .footer {
    padding-left: 15px;
    padding-right: 15px;
    width: 480px;
    margin: 0 auto;
  }

  .backdrop {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 92px;
    padding-bottom: 92px;
    margin: 0 auto;
  }

  .modal {
    width: 450px;
  }

  .contact-form-checkbox-label {
    @include font(12px, 400, 14px);
  }

  .contact-form-checkbox-link {
    @include font(12px, 400, 14px);
  }

  .contact-form-checkbox-label::before {
    margin-right: 7px;
  }
}

@media screen and (min-width: 480px) {
  .header__container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .header__container {
    width: 768px;
  }

  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__container {
    width: 1200px;
  }
}
