// .header-container {
//   display: flex;
//   align-items: center;
//   padding-top: 24px;
//   padding-bottom: 24px;
// }

.header__container {
  padding-left: 15px;
  padding-right: 15px;
}

.mobil__container {
  padding-left: 15px;
  padding-right: 15px;
}
